.footer
    .pane
        h3 Total Tweets
        span.tweetCount 0
    .pane
        h3 Top Countries
        ul#topCountryList
     .pane
         h3 Top Cities
         ul#topCityList
     .pane
         h3 Top HashTags
         ul#topHashTags
     .pane
         h3 Top Continents
         ul#topContinents
